.paragraph{
    text-align: center;
    padding: 10px;
    gap: 10px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.banner{
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  padding: 20px;
  gap: 50px; 
  justify-content: center;
}

.item {
  text-align: center;
}

.project-image{
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}
