.img{
    display: flex;
    justify-content: left;
    background-color: #1c2841;
    width: 97%;
    height: 250px;
    padding: 20px;
    border: 5px solid white;
    border-radius: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-text{
    flex: 1;
    text-align: center;
    padding-top: 70px;
    color: white;
}

.par{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image: url(gif.gif);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 10px;
    gap: 20px;
}

.project-image{
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}


